<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>KaraCos - {{ page.title }}</title>
    </head>
    <body>
      <div id="main">
      	<div id="content" class="site">
	{{ content }}
	</div>
      </div>
      <script language="javascript">
if (typeof jQuery == 'undefined') {
    var jQ = document.createElement('script');
    jQ.type = 'text/javascript';
    jQ.onload=loadDeps;
    jQ.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js';
    document.body.appendChild(jQ);
} else {
    loadDeps();
}
function loadDeps() {
	jQuery.ajax({url: "http://www.karacos.org/login",
				dataType: "json",
				contentType: 'application/json',
				type: "GET",
				success: function(data) {
					console.log(data);
				}
				});
    jQuery.getScript('https://github.com/bergie/VIE/raw/master/underscore-min.js', function() { 
        jQuery.getScript('https://github.com/bergie/VIE/raw/master/backbone-min.js', function() { 
            jQuery.getScript('https://github.com/bergie/VIE/raw/master/vie.js', function() {
                console.log("All set");
            });
        });
    });
};
      	
      </script>
    </body>
</html>

